signalboost:
  hosts:
    %server_ipaddress%
  vars:
    # username and ssh key to log in the server
    ansible_user: %server_login_name%
    ansible_ssh_private_key_file: %path/to/ssh_privatekey1%

    # sudo password to grant root access
    ansible_become_password: %server_login_sudopassword%
    ansible_ssh_common_args: "-o IdentitiesOnly=yes"

    # admin accounts to create on the server (optional)
    admins:
      - name: %ansible_user account here!%
        ssh_key: "{{ lookup('file', '%path/to/ssh_pubkey1%') }}"
      - name: %newadminname%
        ssh_key: "{{ lookup('file', '%path/to/other_ssh_pubkey%') }}"
